html {
    font-family: Roboto;
}

body {
    background-color: #eeeeee;
}

p, h5 {
    font-size: 1.25em;
}

.sub-title {
    font-size: 2.5em;
}

.list ul li:hover {
    background-color: #37474f;
}

/*
.banner{
    background: url(../images/banner.jpg) no-repeat fixed 0% 0%/cover;
    cursor: default;
}

.banner-container{
padding-top: 27px;
padding-bottom: 150px;
}
*/

.services ul {
    padding-top: 0px;
    padding-bottom: 30px;
}

.image-services {
    width: 150px;
    height: 150px;
}

.news {
    background: url(../images/background-image.jpg) no-repeat 0% 0%/cover;
    cursor: default;
    padding-top: 0px;
    transform: translateX(0px);
    opacity: 1;
}

.news .container ul li {
    padding-top: 30px;
    padding-bottom: 15px;
}

#bottomShape {
    margin-bottom: 0px;
}

#Contact {
    background: url(../images/background-image.jpg) no-repeat 0% 0%/cover;
    cursor: default;
    padding-top: 0px;
}

.contact-container {
    padding-top: 0px;
}

.contact-form {
    padding-top: 30px;
    padding-left: 70px;
}

.inf-contact {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}

#Contact .container ul li .inf-contact ul li {
    padding-bottom: 20px;
}

.cont-map .map {
    padding: 40px 0px;
    background-color: #eeeeee;
}

.team .container ul {
    padding-top: 60px;
    padding-bottom: 30px;
}

.team .container ul li {
    padding-bottom: 50px;
}

.info-developers {
    width: 100%;
    height: 150px;
}

.team-photo {
    width: 200px;
    height: 200px;
}

.scrollspy {
    align-content: flex-start;
}

.style-form label {
    font-size: 0.9em;
}

/* Inicio */

.filter-button {
    padding-top: 7px;
    padding-bottom: 5px;
}

.btn-type {
    width: 100%;
}

.card-title-center {
    padding-left: 10px;
    padding-bottom: 8px;
}

.body-login{
    background-color: white;
}

.login-main {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
}

.login-main .login-part1 .container ul li{
    padding: 0 7% 0;
}

.login-main .login-part1 .container ul li div div img{
    height: 40px;
    width: 40px;
}

.login-main .login-part1 .container ul li h4{
    font-size: 1.8em;
}

.login-main .login-part1 .container ul li form div{
    padding-bottom: 10px;
}

.login-main .login-part2 {
    min-height: 102.5%;
    padding: 10% 5%;
}

.login-main .login-part2 div div {
    padding: 20px 0;
}

.login-main .login-part2 div div h5 {
    display: inline;
    vertical-align: middle;
    font-weight: 600;
    margin-right: 10px;
}

.signup-main {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
}

.signup-main .signup-part1 .container ul li{
    padding: 0 7% 0;
}

.signup-main .signup-part1 .container ul li div div img{
    height: 40px;
    width: 40px;
}

.signup-main .signup-part1 .container ul li h4{
    font-size: 1.8em;
}

.signup-main .signup-part1 .container ul li form div{
    padding-bottom: 10px;
}

.signup-main .signup-part2 {
    height: 102.5%;
    padding: 10% 5%;
}

.signup-main .signup-part2 div div {
    padding: 20px 0;
}

.signup-main .signup-part2 div div h5 {
    display: inline;
    vertical-align: middle;
    font-weight: 600;
    margin-right: 10px;
}

/* Cuenta */

.container-account{
    padding-top: 0;
    margin:0 auto;
    max-width:800px;
    width:90%;
}

@media only screen and (min-width: 601px){
    .container-account{width:85%}
}

@media only screen and (min-width: 993px){
    .container-account{width:90%}
}

.container-account .row{
      margin-left:-0.75rem;
      margin-right:-0.75rem
  }
