html {
    font-family: Roboto;
}

body {
    background-color: #f5f5f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    font-size: 1.15em;
}

h5 {
    font-size: 1.35em;
}

main {
    flex: 1 0 auto;
}

span {
    font-size: 1.2em;
}

.line-separator{
    width: 130px;
    height: 2px;
    margin: 15px auto;
    background-color: #424242;
    border-radius: 10%;
}

.list ul li:hover {
    background-color: #37474f;
}

.banner {
    background: url(../images/banner1.jpg) no-repeat fixed 0% 140%/cover;
    cursor: default;
}

/*
.banner-container{
padding-top: 27px;
padding-bottom: 150px;
}
*/
.buton-search {
    width: 50px;
    margin-top: -10px;
}

.buton-search:hover {
    opacity: 0.1;
}

div.container-image {
    width: 100px;
    margin: auto;
    border-radius: 50%;
}

img.image-services {
    display: block;
    margin: 50px auto;
    background-color: rgba(33, 33, 33, 1);
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(33, 33, 33, 0.2);
    transition: box-shadow 0.3s;
}

.container-image:hover img.image-services {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}

.news {
    cursor: default;
    padding-top: 0px;
    /*background: url(../images/background-image.jpg) no-repeat 0% 0%/cover;
    transform: translateX(0px);
    opacity: 1;
    */
}

.news .container ul {
    padding: 20px auto;
}

.card-index {
    min-height: 350px;
    max-height: 350px;
}

#bottomShape {
    margin-bottom: 0px;
}

#Contact {
    /*background: url(../images/background-image.jpg) no-repeat 0% 0%/cover;*/
    cursor: default;
    padding-top: 0px;
}

.contact-container {
    padding-top: 0px;
}

.contact-form {
    padding-top: 30px;
    padding-left: 70px;
}

.inf-contact {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}

#Contact .container ul li .inf-contact ul li {
    padding-bottom: 20px;
}

.cont-map .map {
    padding: 40px 0px;
    background-color: #eeeeee;
}

.team .container ul {
    padding-top: 60px;
    padding-bottom: 30px;
}

.team .container ul li {
    padding-bottom: 50px;
}

.info-developers {
    width: 100%;
    height: 100%;
}

.effect{
    width: 200px;
    max-width: 100%;
    height: 200px;
    max-height: 200px;
    position:relative;
    overflow:hidden;
    margin:auto;
    border-radius: 50%;
}

.effect figcaption{
    display: table;
    border-radius: 50%;
}

.effect figcaption div{
    display: table-cell;
    vertical-align: middle;
    padding: 18px;
    border-radius: 50%;
    font-size: 0.9em;
}

.effect img.team-photo {
    position:absolute;
    left:0;
    bottom:0;
    top: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}

.effect:hover figcaption{
    background-color: rgba(33,33,33,1);
    height:100%;
    width: 100%;
    text-align: center;
    transition: .1s;
    overflow: hidden;
}

.effect img.team-photo:hover {
    opacity: 0.2;
    transition: .5s;
    overflow: hidden;
}

.scrollspy {
    align-content: flex-start;
}

.style-form label {
    font-size: 0.9em;
}

/* Inicio */

.filter-button {
    padding-top: 7px;
    padding-bottom: 5px;
}

.btn-type {
    width: 100%;
}

.card-title-center {
    padding-left: 10px;
    padding-bottom: 8px;
}

.body-login {
    background-color: white;
}

.login-main {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
}

.login-main .login-part1 .container ul li {
    padding: 0 7% 0;
}

.login-main .login-part1 .container ul li div div img {
    height: 40px;
    width: 40px;
}

.login-main .login-part1 .container ul li h4 {
    font-size: 1.8em;
}

.login-main .login-part1 .container ul li form div {
    padding-bottom: 10px;
}

.login-main .login-part2 {
    min-height: 102.5%;
    padding: 10% 5%;
}

.login-main .login-part2 div div {
    padding: 20px 0;
}

.login-main .login-part2 div div h5 {
    display: inline;
    vertical-align: middle;
    font-weight: 600;
    margin-right: 10px;
}

.signup-main {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
}

.signup-main .signup-part1 .container ul li {
    padding: 0 7% 0;
}

.signup-main .signup-part1 .container ul li div div img {
    height: 40px;
    width: 40px;
}

.signup-main .signup-part1 .container ul li h4 {
    font-size: 1.8em;
}

.signup-main .signup-part1 .container ul li form div {
    padding-bottom: 10px;
}

.signup-main .signup-part2 {
    height: 130%;
    padding: 10% 5%;
}

.signup-main .signup-part2 div div {
    padding: 20px 0;
}

.signup-main .signup-part2 div div h5 {
    display: inline;
    vertical-align: middle;
    font-weight: 600;
    margin-right: 10px;
}

/* Cuenta */

.container-account {
    margin: auto;
    max-width: 800px;
    height: 100%;
}

@media only screen and (min-width: 601px) {
    .container-account {
        width: 85%
    }
}

@media only screen and (min-width: 993px) {
    .container-account {
        width: 90%
    }
}

.container-account .card .card-content ul li {
    margin-top: 20px;
}

.form-account div {
    margin: 15px auto;
}

.form-account div label{
    font-size: 0.95em;
}

/* Modal publicaciones*/

.form-publish div {
    margin: 15px auto;
}

.form-publish div label{
    font-size: 0.95em;
}

/* Nav size */

.nav-size li {
    min-width:100px;
}