html{
    font-family: Roboto;
}

body {
    background-color: #eeeeee;
}

h4{
    font-size: 2.7em;
}

p{
    font-size: 1.25em;
}

.list ul li:hover{
    background-color: #37474f;
}

.banner{
    background: url(../images/banner2.jpg) no-repeat fixed 0% 0%/cover;
    cursor: default;
}

.banner-container{
    padding-top: 27px;
    padding-bottom: 150px;
}

.services ul {
    padding-top: 0px;
    padding-bottom: 30px;
}

.image-services{
    width: 150px;
    height: 150px;
}

.news{
    background: url(../images/imagen7.jpg) no-repeat 0% 0%/cover;
    cursor: default;
    padding-top: 0px;
    transform: translateX(0px); opacity: 1;
}

.news ul{
    padding-top: 30px;
    padding-bottom: 60px;
}

#bottomShape{
    margin-bottom: 0px;
}

.contact-container{
    padding-top: 0px;
}

.contact-form{
    padding-top: 30px;
    font-size: 1.5em;
}

.cont-map .map{
    padding: 40px 0px;
    background-color: #eeeeee;
}

.team{
    background: url(../images/imagen5.jpg) no-repeat fixed 0% 0%/cover;
    cursor: default;
    padding-top: 0px;
}

.team-photo{
    width: 200px;
    height: 200px;
}

.scrollspy{
    align-content: flex-start;
}

#services{
    transform: translateX(0px); opacity: 1;
}

#contact{
    transform: translateX(0px); opacity: 1;
}